!.env.example
*.log
.DS_Store
.cache
.data
.env
.env.*
.fleet
.idea
.nitro
.npm-cache/
.nuxt
.nuxt/
.output
.output/
.turbo/
build
build/
dist
dist/
logs
node_modules
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
