@theme static {
    --color-parsley-50:  #edf6f0;
    --color-parsley-100: #d4ebd9;
    --color-parsley-200: #3e7652;
    --color-parsley-300: #025523;
    --color-parsley-400: #015322;
    --color-parsley-500: #015322;
    --color-parsley-600: #0b441f;
    --color-parsley-700: #092f16;
    --color-parsley-800: #071f10;
    --color-parsley-900: #041307;
    --color-parsley-950: #020903;
}
